<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDF6D3461DD968AE000CED9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF6D3621DD968AE000CED9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF6D36D1DD968AE000CED9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
